# Root of project.
# Don't inherit same config files from the parent directories.
root = true

####
#### Global parameters EditorConfig
####
[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

####
#### EditorConfig
#### Don't modify unnecessarily!
####
[*.editorconfig]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

####
#### Makefile
####
[{{m,M}akefile,*.mk,*.make}]
indent_style = tab
indent_size = 2
tab_width = 4
trim_trailing_whitespace = false

####
#### Markdown
####
[*.{md,markdown}]
indent_style = space
trim_trailing_whitespace = false

####
#### Shell scripts
####
[*.sh]
end_of_line = lf
insert_final_newline = true

####
#### Windows CMD scripts
####
[*.{bat,cmd}]
end_of_line = crlf
insert_final_newline = true

####
#### Windows PowerShell scripts
####
[*.ps1]
charset = utf-16le
end_of_line = crlf
insert_final_newline = true
