# All files
*               text=auto

# Plain text
*.txt           text eol=lf

# Git special files
.gitignore      text eol=lf
.gitattributes  text eol=lf
.gitkeep        text eol=lf
.gitmodules     text eol=lf

# EditorConfig
*.editorconfig  text eol=lf

# License
LICENSE         text eol=lf
.license        text eol=lf

# Markdown
*.md            text eol=lf
*.markdown      text eol=lf

# Doxygen
Doxyfile        text eol=lf

# Makefiles
makefile        text eol=lf
Makefile        text eol=lf
*.mk            text eol=lf
*.make          text eol=lf

# CMake
CMakeLists.txt  text eol=lf
*.cmake         text eol=lf

# XML and JSON
*.xml           text eol=lf
*.json          text eol=lf

# Shell scirpts
*.sh            text eol=lf
*.bash          text eol=lf

# Windows CMD and PowerShell scripts
*.bat           text eol=crlf
*.cmd           text eol=crlf
*.ps1           text eol=crlf working-tree-encoding=UTF-16LE

# Linker scripts
*.ld            text eol=lf

# C
*.h             text eol=lf
*.c             text eol=lf

# C++
*.hpp           text eol=lf
*.h++           text eol=lf
*.hxx           text eol=lf
*.cpp           text eol=lf
*.c++           text eol=lf
*.cxx           text eol=lf

# Python
*.py            text eol=lf
